:root {
  /* brand colors */
  --purple: #8082FF;
  --light-purple: #CFD0FF;
  --pale-purple: #E7E7FF;
  --deep-purple: #8082FF;
  --dark-purple: #5153D0;
  --yellow: #FFD869;
  --pale-yellow: #FFF3CF;
  --red: #FF4F52;
  --pink: #FFBEBE;
}
