@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

:root {
  /* brand colors */
  --purple: #8082FF;
  --light-purple: #CFD0FF;
  --pale-purple: #E7E7FF;
  --deep-purple: #8082FF;
  --dark-purple: #5153D0;
  --yellow: #FFD869;
  --pale-yellow: #FFF3CF;
  --red: #FF4F52;
  --pink: #FFBEBE;
  --green: #7CD885;

  /* brand fonts */
  --primary-font: 'Fredoka One';
  --secondary-font: 'Luckiest Guy';
}

body,
div,
button,
input {
  font-family: var(--primary-font), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
}

body {
  margin: 0;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
  background: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--secondary-font), sans-serif;
}

a {
  color: var(--dark-purple);
}
