:root {
  /* brand colors */
  --purple: #8082FF;
  --light-purple: #CFD0FF;
  --pale-purple: #E7E7FF;
  --deep-purple: #8082FF;
  --dark-purple: #5153D0;
  --yellow: #FFD869;
  --pale-yellow: #FFF3CF;
  --red: #FF4F52;
  --pink: #FFBEBE;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
