{
  "processors": [
    "stylelint-processor-styled-components"
  ],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-styled-components"
  ],
  "ignoreFiles": [
    "**/*.d.ts",
  ],
  "rules": {
    "block-closing-brace-space-before": null,
    "block-opening-brace-space-after": null,
    "declaration-colon-newline-after": null,
    "declaration-empty-line-before": null
  }
}
